@model Prototype.ViewModels.SimpleVendor

@{
    ViewBag.Title = "Display Data";
}

<h2>Confirm Data Import</h2>
<dl>
    <dt>WorkbookName</dt>
    <dd>@ViewBag.WorkbookName</dd>

    <dt>WorksheetName</dt>
    <dd>@ViewBag.WorksheetName</dd>

    <dt>VendorName</dt>
    <dd>@ViewBag.VendorName</dd>
</dl>

<form action="/Excel/AfterImport" method="post" enctype="multipart/form-data">


    <input hidden name="workbookName" value="@ViewBag.WorkbookName" />
    <input hidden name="worksheetName" value="@ViewBag.WorksheetName" />
    <input hidden name="vendorID" value="@ViewBag.VendorID" />
    <input hidden name="vendorName" value="@ViewBag.VendorName" />

    <style type="text/css">
        th.index, td.index {
            display: none;
            visibility: hidden;
        }
    </style>
    <table>
        <thead>
            <tr>
                <th class="index">FormIndex</th>
                <th>ProductName</th>
                <th>ProductDescription</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < @Model.Products.Count(); ++i)
            {
                <tr>
                    <td class="index">
                        <input type="hidden" name="Products.Index" value="@i" />
                    </td>
                    <td>
                        <span>@Model.Products[i].ProductName</span>
                        <input type="hidden" value="@Model.Products[i].ProductName" name="Products[@i].ProductName" />
                    </td>
                    <td>
                        @Model.Products[i].ProductDescription
                        <input type="hidden" value="@Model.Products[i].ProductDescription" name="Products[@i].ProductDescription" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit">Import Data</button>
</form>
