@model Prototype.ViewModels.ExcelColumnToProductPropertyMappingChoices

<h2>Map Spreadsheet Columns to Database Columns</h2>
<dl>
    <dt>VendorName</dt>
    <dd>@ViewBag.VendorName [@ViewBag.VendorID]</dd>

    <dt>WorkbookName</dt>
    <dd>@ViewBag.WorkbookName</dd>

    <dt>WorksheetName</dt>
    <dd>@ViewBag.WorksheetName</dd>
</dl>

<form action="/Excel/BeforeImport" method="post" enctype="multipart/form-data">

    <input hidden name="workbookName" value="@ViewBag.WorkbookName" />
    <input hidden name="worksheetName" value="@ViewBag.WorksheetName" />
    <input hidden name="vendorID" value="@ViewBag.VendorID" />
    <input hidden name="vendorName" value="@ViewBag.VendorName" />

    @foreach (var property in @Model.ProductProperties)
    {
        <label>
            @property
            <select name="@property">
                @foreach (var column in @Model.ExcelColumns)
                {
                    <option>
                        @column
                    </option>
                }
            </select>
        </label>

    }

    <button type="submit">Display Data</button>
</form>
