@model Vendord.Models.VendorProduct

@{
    ViewBag.Title = "Vendor Products";
}

<h2>Manage @ViewBag.Title</h2>

<fieldset>
    <legend>@VendordManagers.SnipLastLetter(ViewBag.Title) Details</legend>
    <div class="btn-group">
        @Html.ActionLink(String.Format("All {0}", ViewBag.Title as String), "Index", null, new { @class = "btn btn-primary" })
        @Html.ActionLink(String.Format("Edit {0}", VendordManagers.SnipLastLetter(ViewBag.Title as String)), "Edit", new { id = Model.ID }, new { @class = "btn btn-default" })
        @Html.ActionLink(String.Format("Delete {0}", VendordManagers.SnipLastLetter(ViewBag.Title as String)), "Delete", new { id = Model.ID }, new { @class = "btn btn-default" })
    </div>
    <hr />
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                @Html.DisplayFor(model => model.Vendor.Name) - @Html.DisplayFor(model => Model.Product.Name)</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                @Html.DisplayNameFor(model => model.UnitPrice)
                @Html.DisplayFor(model => model.UnitPrice)
            </li>
        </ul>
    </dl>
</fieldset>
