<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/css/bootstrap")
    @Styles.Render("~/css/site")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="~/Scripts/html5shiv.js"></script>
        <script src="~/Scripts/respond.js"></script>
    <![endif]-->

</head>
<body>

    @Html.Partial("_Navbar")
  
    @RenderSection("featured", false)

    @RenderBody()

    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/modernizr")
    @Scripts.Render("~/js/bootstrap")

    <script type="text/javascript">

    </script>

</body>
</html>
