@using System.Linq.Expressions
@using System.Web.Mvc

@helper Label(string target, string text)
{
    <label for="@target">@text</label>
    }
@helper InputText(string name, string placeholder = "")
{    
    <input type="text" class="form-control" id="@name" placeholder="@placeholder">
}
@helper ButtonDefault(string text = "Sumbit", string type = "sumbit")
{
    <button type="@type" class="btn btn-default">@text</button>
}
@helper LinkButtonDefault(string text, string action, string controller)
{
    <a href="/@controller/@action" class="btn btn-default">@text</a>
}